---
title: Checkout
description:
sitemap: false
---

<form action="https://formspree.io/onewesh@gmail.com"
method="POST">
  <label>First Name</label>
  <input type="text" name="First Name">

  <label>Last Name</label>
  <input type="text" name="Last Name">

  <label>Email Address</label>
  <input type="text" name="Email">

  <label>Mailing Address</label>
  <input type="text" name="Street" placeholder="Street">
  <input type="text" name="City" placeholder="City">
  <input type="text" name="State" placeholder="State">
  <input type="text" name="Zip Code" placeholder="Zip Code">

  <input type="hidden" name="_to" value="onewesh@gmail.com">
  <input type="text" name="_gotcha" style="display: none;">

  <input type="submit" value="Send Order">
</form>

